.postsPage{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;
    background: #FAF1F1;
}
.posts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 45px 157px;
    gap: 10px;
    position: relative;
    width: 1420px;
    height: 1080px;
    left: 500px;
    top: 0px;
    order: 1;
    background: #FAF1F1;
}
.filter{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 500px;
    height: 1080px;
    left: 0px;
    top: 0px;
    order: 0;
    background: #FAF1F1;
}
.filterLikesPart{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 30px;
    position: absolute;
    width: 500px;
    height: 610px;
    left: 0px;
    top: 0px;
    order: 1;
    background: #FAF1F1;
}
.searchField{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 11px 30px;
    gap: 10px;
    width: 440px;
    height: 60px;
    background: #FAF1F1;
    border: 1px solid #000000;
    box-shadow: 0px 38px 15px rgba(0, 0, 0, 0.01), 0px 22px 13px rgba(0, 0, 0, 0.05), 0px 10px 10px rgba(0, 0, 0, 0.09), 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    order: 0;
}
.searchFieldText{
    width: 227px;
    height: 40px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #2382FF;
    order: 0;
}
.searchLikes{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 440px;
    height: 470px;
    background: #FAF1F1;
    border: 1px solid #000000;
    border-radius: 15px;
    order: 1;
}
.likesText{
    width: 470px;
    height: 60px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2382FF;
    order: 0;
}
.likesFields{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0px;
    gap: 20px;
    width: 435px;
    height: 275px;
    background: #FAF1F1;
    border-radius: 20px;
    order: 1;
}
.likesFieldOne{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 190px;
    height: 100px;
    background: #FAF1F1;
    border-radius: 20px;
    order: 0;
}
.fieldOneImg{
    width: 35px;
    height: 35px;
    order: 0;
}
.fieldOneTextDiv{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 30px;
    gap: 10px;
    width: 150px;
    height: 60px;
    background: #FAF1F1;
    border: 1px solid #000000;
    box-shadow: 0px 38px 15px rgba(0, 0, 0, 0.01), 0px 22px 13px rgba(0, 0, 0, 0.05), 0px 10px 10px rgba(0, 0, 0, 0.09), 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    order: 1;
}
.fieldOneText{
    width: 109px;
    height: 30px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #2382FF;
    order: 0;
}
.likesFieldTwo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 190px;
    height: 100px;
    background: #FAF1F1;
    border-radius: 20px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.fieldTwoImg{
    width: 30px;
    height: 30px;
    order: 0;
}
.fieldTwoTextDiv{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 30px;
    gap: 10px;
    width: 160px;
    height: 60px;
    background: #FAF1F1;
    border: 1px solid #000000;
    box-shadow: 0px 38px 15px rgba(0, 0, 0, 0.01), 0px 22px 13px rgba(0, 0, 0, 0.05), 0px 10px 10px rgba(0, 0, 0, 0.09), 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    order: 1;
}
.fieldTwoText{
    width: 112px;
    height: 30px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #2382FF;
    order: 0;
}
.likesFieldThree{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 190px;
    height: 100px;
    background: #FAF1F1;
    border-radius: 20px;
    order: 2;
}
.fieldThreeImg{
    width: 30px;
    height: 30px;
    order: 0;
}
.fieldThreeTextDiv{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 30px;
    gap: 10px;
    width: 160px;
    height: 60px;
    background: #FAF1F1;
    border: 1px solid #000000;
    box-shadow: 0px 38px 15px rgba(0, 0, 0, 0.01), 0px 22px 13px rgba(0, 0, 0, 0.05), 0px 10px 10px rgba(0, 0, 0, 0.09), 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    order: 1;
}
.fieldThreeText{
    width: 126px;
    height: 30px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #2382FF;
    flex: none;
    order: 0;
}
.likesFieldFour{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 190px;
    height: 100px;
    background: #FAF1F1;
    border-radius: 20px;
    order: 3;
}
.fieldFourImg{
    width: 30px;
    height: 30px;
    order: 0;
}
.fieldFourTextDiv{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 30px;
    gap: 10px;
    width: 160px;
    height: 60px;
    background: #FAF1F1;
    border: 1px solid #000000;
    box-shadow: 0px 38px 15px rgba(0, 0, 0, 0.01), 0px 22px 13px rgba(0, 0, 0, 0.05), 0px 10px 10px rgba(0, 0, 0, 0.09), 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    order: 1;
}
.fieldFourText{
    width: 136px;
    height: 30px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #2382FF;
    order: 0;
}
.filterTagsPart{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    position: absolute;
    width: 500px;
    height: 470px;
    left: 0px;
    top: 610px;
    order: 2;
    background: #FAF1F1;
}
.tagsPart{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 440px;
    height: 410px;
    background: #FAF1F1;
    border: 1px solid #000000;
    border-radius: 25px;
    order: 0;
    align-self: stretch;
}
.tagsText{
    width: 440px;
    height: 60px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2382FF;
    order: 0;
}
.tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0px;
    gap: 20px;
    width: 400px;
    height: 330px;
    background: #FAF1F1;
    order: 1;
}
.tagItem{}
.tagItemText{}