*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.postsPage{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 20rem;
    max-width: 120rem;
    height: auto; 
    background: #FAF1F1;
    margin: 0 auto;
}

.filter{
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    width: clamp(18rem, 30vw, 31.25rem);
    height: 100%;
    max-height: 67.5rem;
    order: 0;
    background: #FAF1F1;
}
.filterLikesPart{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    gap: 1.875rem;
    width: 100%;
    height: auto;
    min-height: auto;
    order: 1;
    background: #FAF1F1;
}

.searchField{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.6875rem clamp(0.625rem, 2vw, 1.875rem);
    gap: 0.625rem;
    width: 90%;
    height: 3.75rem;
    background: #FAF1F1;
    border: 0.0625rem solid #000000;
    box-shadow: 
        0rem 2.375rem 0.9375rem rgba(0, 0, 0, 0.01), 
        0rem 1.375rem 0.8125rem rgba(0, 0, 0, 0.05), 
        0rem 0.625rem 0.625rem rgba(0, 0, 0, 0.09), 
        0rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
    border-radius: 1.25rem;
    order: 0;
}
.searchFieldText{
    width: auto;
    height: auto;
    font-family: 'Quicksand';
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: clamp(1rem, 2vw, 2rem);
    line-height: clamp(1.875rem, 1vw, 2.5rem);
    color: #2382FF;
    order: 0;
    flex-grow: 1;
}

.searchLikes{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 90%;
    height: auto;
    min-height: auto;
    background: #FAF1F1;
    border: 0.0625rem solid #000000;
    border-radius: 0.9375rem;
    order: 1;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.likesText{
    width: 80%;
    min-height: 3.75rem;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(1rem, 2vw, 2rem);
    line-height: clamp(1.875rem, 1vw, 2.5rem);
    display: flex;
    align-items: center;
    text-align: center;
    color: #2382FF;
    order: 0;
}

.likesFields{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding: 0;
    gap: 1.25rem;
    width: 95%;
    height: auto;
    min-height: auto;
    background: #FAF1F1;
    border-radius: 1.25rem;
    order: 1;
}

.likesFieldOne {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 0.625rem;
    width: clamp(8rem, 40%, 11.875rem);
    min-height: 6.25rem; 
    background: #FAF1F1;
    border-radius: 1.25rem;
}
.likesFieldTwo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 0.625rem;
    width: clamp(8rem, 40%, 11.875rem);
    min-height: 6.25rem; 
    background: #FAF1F1;
    border-radius: 1.25rem;
}
.likesFieldThree {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 0.625rem;
    width: clamp(8rem, 40%, 11.875rem);
    min-height: 6.25rem; 
    background: #FAF1F1;
    border-radius: 1.25rem;
}
.likesFieldFour {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 0.625rem;
    width: clamp(8rem, 40%, 11.875rem);
    min-height: 6.25rem; 
    background: #FAF1F1;
    border-radius: 1.25rem;
}

.fieldOneImg {
    width: clamp(1.5rem, 2vw, 2.1875rem);
    height: clamp(1.5rem, 2vw, 2.1875rem);
    order: 0;
}

.fieldTwoImg {
    width: clamp(1.5rem, 2vw, 1.875rem);
    height: clamp(1.5rem, 2vw, 1.875rem);
    order: 0;
}
.fieldThreeImg {
    width: clamp(1.5rem, 2vw, 1.875rem);
    height: clamp(1.5rem, 2vw, 1.875rem);
    order: 0;
}
.fieldFourImg {
    width: clamp(1.5rem, 2vw, 1.875rem);
    height: clamp(1.5rem, 2vw, 1.875rem);
    order: 0;
}

.fieldOneTextDiv {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 0.6875rem;
    padding-bottom: 0.6875rem;
    gap: 0.625rem;
    width: 70%;
    height: 3.75rem;
    background: #FAF1F1;
    border: 0.0625rem solid #000000;
    box-shadow: 
        0rem 2.375rem 0.9375rem rgba(0, 0, 0, 0.01), 
        0rem 1.375rem 0.8125rem rgba(0, 0, 0, 0.05), 
        0rem 0.625rem 0.625rem rgba(0, 0, 0, 0.09), 
        0rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
    border-radius: 1.25rem;
    order: 1;
}
.fieldTwoTextDiv {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 0.6875rem;
    padding-bottom: 0.6875rem;
    gap: 0.625rem;
    width: 70%;
    height: 3.75rem;
    background: #FAF1F1;
    border: 0.0625rem solid #000000;
    box-shadow: 
        0rem 2.375rem 0.9375rem rgba(0, 0, 0, 0.01), 
        0rem 1.375rem 0.8125rem rgba(0, 0, 0, 0.05), 
        0rem 0.625rem 0.625rem rgba(0, 0, 0, 0.09), 
        0rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
    border-radius: 1.25rem;
    order: 1;
}
.fieldThreeTextDiv {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 0.6875rem;
    padding-bottom: 0.6875rem;
    gap: 0.625rem;
    width: 70%;
    height: 3.75rem;
    background: #FAF1F1;
    border: 0.0625rem solid #000000;
    box-shadow: 
        0rem 2.375rem 0.9375rem rgba(0, 0, 0, 0.01), 
        0rem 1.375rem 0.8125rem rgba(0, 0, 0, 0.05), 
        0rem 0.625rem 0.625rem rgba(0, 0, 0, 0.09), 
        0rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
    border-radius: 1.25rem;
    order: 1;
}
.fieldFourTextDiv {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 0.6875rem;
    padding-bottom: 0.6875rem;
    gap: 0.625rem;
    width: 70%;
    height: 3.75rem;
    background: #FAF1F1;
    border: 0.0625rem solid #000000;
    box-shadow: 
        0rem 2.375rem 0.9375rem rgba(0, 0, 0, 0.01), 
        0rem 1.375rem 0.8125rem rgba(0, 0, 0, 0.05), 
        0rem 0.625rem 0.625rem rgba(0, 0, 0, 0.09), 
        0rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
    border-radius: 1.25rem;
    order: 1;
}

.fieldOneText {
    width: auto;
    height: auto;
    text-align: center;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(0.75rem, 1.5vw, 1.25rem);
    line-height: clamp(1rem, 1.5vw, 1.875rem);
    color: #2382FF;
    order: 0;
    max-width: 80%;
}
.fieldTwoText {
    width: auto;
    height: auto;
    text-align: center;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(0.75rem, 1.5vw, 1.25rem);
    line-height: clamp(1rem, 1.5vw, 1.875rem);
    color: #2382FF;
    order: 0;
    max-width: 80%;
}
.fieldThreeText {
    width: auto;
    height: auto;
    text-align: center;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(0.75rem, 1.5vw, 1.25rem);
    line-height: clamp(1rem, 1.5vw, 1.875rem);
    color: #2382FF;
    order: 0;
    max-width: 80%;
}
.fieldFourText {
    width: auto;
    height: auto;
    text-align: center;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(0.75rem, 1.5vw, 1.25rem);
    line-height: clamp(1rem, 1.5vw, 1.875rem);
    color: #2382FF;
    order: 0;
    max-width: 80%;
}

.filterTagsPart{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    width: 100%;
    height: auto;
    min-height: 31.25rem;
    order: 2;
    background: #FAF1F1;
}
.tagsPart{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    min-height: 25.625rem;
    background: #FAF1F1;
    border: 0.0625rem solid #000000;
    border-radius: 1.5625rem;
    order: 0;
    align-self: center;
}
.tagsText{
    width: 80%;
    min-height: 3.75rem;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(1rem, 2vw, 2rem);
    line-height: clamp(1.875rem, 1vw, 2.5rem);
    display: flex;
    align-items: center;
    text-align: center;
    color: #2382FF;
    order: 0;
}
.tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;
    gap: 1.25rem;
    width: 90%;
    min-height: 20.625rem;
    background: #FAF1F1;
    order: 1;
}

.posts{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    gap: 1.875rem;
    width: auto;
    height: 100%;
    order: 1;
    background: #FAF1F1;
    flex-grow: 1;
    overflow-y: auto;
}
.tagItem{}
.tagItemText{}