*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0px;
    position: relative;
    max-width: 1920px;
    height: 1080px;
    background: #FAF1F1;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 100px;
    gap: 10px;
    width: 1920px;
    height: 80px;
    background: #FAF1F1;
    border-bottom: 1px solid #BBB4B4;
}
.mainPageButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 30px;
    gap: 10px;
    width: 380px;
    height: 60px;
    background: #2382FF;
    box-shadow: 0px 38px 15px rgba(0, 0, 0, 0.01), 0px 22px 13px rgba(0, 0, 0, 0.05), 0px 10px 10px rgba(0, 0, 0, 0.09), 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    order: 0;
}
.mainButtonText{
    width: 321px;
    height: 44px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 44px;
    color: #FFFFFF;
}
.allpostspageButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 30px;
    gap: 10px;
    width: 380px;
    height: 60px;
    background: #2382FF;
    box-shadow: 0px 38px 15px rgba(0, 0, 0, 0.01), 0px 22px 13px rgba(0, 0, 0, 0.05), 0px 10px 10px rgba(0, 0, 0, 0.09), 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    order: 1;
}
.allpostsButtonText{
    width: 168px;
    height: 44px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 44px;
    color: #FFFFFF;
    order: 0;
}
.createpostPageButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 30px;
    gap: 10px;
    width: 380px;
    height: 60px;
    background: #2382FF;
    box-shadow: 0px 38px 15px rgba(0, 0, 0, 0.01), 0px 22px 13px rgba(0, 0, 0, 0.05), 0px 10px 10px rgba(0, 0, 0, 0.09), 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    order: 2;
}
.createpostButtonText{
    width: 252px;
    height: 44px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 44px;
    color: #FFFFFF;
    order: 0;
}
.profileAndLanguageButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
    order: 3;
}
.languageButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 30px;
    gap: 10px;
    width: 180px;
    height: 60px;
    background: #2382FF;
    box-shadow: 0px 38px 15px rgba(0, 0, 0, 0.01), 0px 22px 13px rgba(0, 0, 0, 0.05), 0px 10px 10px rgba(0, 0, 0, 0.09), 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    order: 0;
}
.languageButtonText{
    width: 96px;
    height: 44px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 44px;
    color: #FFFFFF;
    order: 0;
}
.profileButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 30px;
    gap: 10px;
    width: 60px;
    height: 60px;
    background: #FAF1F1;
    box-shadow: 0px 38px 15px rgba(0, 0, 0, 0.01), 0px 22px 13px rgba(0, 0, 0, 0.05), 0px 10px 10px rgba(0, 0, 0, 0.09), 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    order: 1;
}
.profileImage{
    width: 60px;
    height: 60px;
    border-radius: 20px;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 10px 20px;
    width: 1920px;
    height: 920px;
    background: #FAF1F1;
    order: 1;
}
.technicalPartTexts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 10px 20px;
    width: 1920px;
    height: 760px;
    background: #FAF1F1;
    order: 0;
}
.backendTextsDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 10px 20px;
    width: 1920px;
    height: 380px;
    background: #FAF1F1;
    order: 0;
}
.backendText{
    width: 1800px;
    height: 130px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 44px;
    color: #000000;
    order: 0;
}
.backendTextMain{
    width: 1800px;
    height: 230px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    order: 1;
}
.frontendTextsDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 10px 20px;
    gap: 35px;
    width: 1920px;
    height: 380px;
    background: #FAF1F1;
    order: 1;
}
.frontendText{
    
}
.descriptionPartText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 10px 20px;
    gap: 35px;
    width: 1920px;
    height: 160px;
    background: #FAF1F1;
    order: 1;
}
.descriptionText{
    width: 1802px;
    height: 140px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
    order: 0;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 35px;
    width: 1920px;
    height: 80px;
    background: #FAF1F1;
    order: 2;
}
.footerAuthorDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 35px;
    margin: 0 auto;
    width: 960px;
    height: 80px;
    background: #FAF1F1;
    order: 0;
}
.footerAuthor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 30px;
    gap: 10px;
    width: 550px;
    height: 60px;
    background: #FAF1F1;
    border-radius: 20px;
    order: 0;
}
.footerAuthorText{
    width: 526px;
    height: 44px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 44px;
    color: #2382FF;
    order: 0;
}
.footerSocialNetworksDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0 auto;
    width: 960px;
    height: 80px;
    background: #FAF1F1;
    order: 1;
}
.footerSocialNetworksTextDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 30px;
    gap: 10px;
    width: 550px;
    height: 60px;
    background: #FAF1F1;
    border-radius: 20px;
    order: 0;
}
.footerSocialNetworksText{
    width: 420px;
    height: 44px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 44px;
    color: #2382FF;
    order: 0;
}
.footerSocialNetworksIconsDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 30px;
    gap: 40px;
    width: 480px;
    height: 60px;
    background: #FAF1F1;
    border-radius: 20px;
    order: 1;
}
.footerTelegramIconDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 30px;
    gap: 10px;
    width: 60px;
    height: 60px;
    background: #FAF1F1;
    border-radius: 20px;
    order: 0;
}
.telegramIcon{
    border-radius: 20px;
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.footerInstagramIconDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 30px;
    gap: 10px;
    width: 60px;
    height: 60px;
    background: #FAF1F1;
    border-radius: 20px;
    order: 1;
}
.instagramIcon{
    border-radius: 20px;
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.footerTiktokIconDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 30px;
    gap: 10px;
    width: 60px;
    height: 60px;
    background: #FAF1F1;
    border-radius: 20px;
    order: 2;
}
.tiktokIcon{
    border-radius: 20px;
    width: 60px;
    height: 60px;
    object-fit: cover;
}