* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.625rem clamp(1.875rem, 5vw, 6.25rem);
    gap: 0.625rem;
    width: clamp(18.75rem, 100%, 120rem);
    height: clamp(2.5rem, 100%, 5rem);
    margin: 0 auto;
    background: #FAF1F1;
    border-bottom: 0.0625rem solid #BBB4B4; 
}

.mainPageButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.6875rem clamp(0.3125rem, 2vw, 1.875rem);
    column-gap: clamp(0.125rem, 2vw, 0.625rem);
    width: clamp(3.75rem, 21%, 23.75rem);
    height: clamp(0.5625rem, 100%, 3.75rem);
    background: #2382FF;
    box-shadow: 
        0rem 2.375rem 0.9375rem rgba(0, 0, 0, 0.01), 
        0rem 1.375rem 0.8125rem rgba(0, 0, 0, 0.05), 
        0rem 0.625rem 0.625rem rgba(0, 0, 0, 0.09), 
        0rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
    border-radius: 1.25rem;
}
.allpostsPageButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.6875rem clamp(0.3125rem, 2vw, 1.875rem);
    column-gap: clamp(0.125rem, 2vw, 0.625rem);
    width: clamp(3.75rem, 21%, 23.75rem);
    height: clamp(0.5625rem, 100%, 3.75rem);
    background: #2382FF;
    box-shadow: 
        0rem 2.375rem 0.9375rem rgba(0, 0, 0, 0.01), 
        0rem 1.375rem 0.8125rem rgba(0, 0, 0, 0.05), 
        0rem 0.625rem 0.625rem rgba(0, 0, 0, 0.09), 
        0rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
    border-radius: 1.25rem;
    row-gap: 0.625rem;
}
.createpostButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.6875rem clamp(0.3125rem, 2vw, 1.875rem);
    column-gap: clamp(0.125rem, 2vw, 0.625rem);
    width: clamp(3.75rem, 21%, 23.75rem);
    height: clamp(0.5625rem, 100%, 3.75rem);
    background: #2382FF;
    box-shadow: 
        0rem 2.375rem 0.9375rem rgba(0, 0, 0, 0.01), 
        0rem 1.375rem 0.8125rem rgba(0, 0, 0, 0.05), 
        0rem 0.625rem 0.625rem rgba(0, 0, 0, 0.09), 
        0rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
    border-radius: 1.25rem;
}

.mainButtonText {
    width: auto; 
    height: clamp(1.375rem, 100%, 2.75rem);
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(0.875rem, 2vw, 1.875rem);
    line-height: clamp(1.875rem, 1vw, 2.75rem);
    
    color: #FFFFFF;
}
.allpostsButtonText {
    width: auto; 
    height: clamp(1.375rem, 100%, 2.75rem);
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(0.875rem, 2vw, 1.875rem);
    line-height: clamp(1.875rem, 1vw, 2.75rem);
    
    color: #FFFFFF;
}
.createpostButtonText {
    width: auto; 
    height: clamp(1.375rem, 100%, 2.75rem);
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(0.875rem, 2vw, 1.875rem);
    line-height: clamp(1.875rem, 1vw, 2.75rem);
    
    color: #FFFFFF;
}

.profileAndLanguageButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: clamp(1.75rem, 50%, 11.25rem);
    height: clamp(0.5625rem, 100%, 3.75rem);
    padding: 0;
    gap: 1.25rem; 
    order: 3;
}

.languageButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.6875rem clamp(0.3125rem, 2vw, 1.875rem);
    gap: 0.625rem;
    width: clamp(1.75rem, 65%, 11.25rem);
    height: clamp(0.5625rem, 100%, 3.75rem);
    background: #2382FF;
    box-shadow: 
        0rem 2.375rem 0.9375rem rgba(0, 0, 0, 0.01), 
        0rem 1.375rem 0.8125rem rgba(0, 0, 0, 0.05), 
        0rem 0.625rem 0.625rem rgba(0, 0, 0, 0.09), 
        0rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
    border-radius: 1.25rem;
    order: 0;
}
.languageButtonText {
    width: auto; 
    height: clamp(1.375rem, 100%, 2.75rem);
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(0.875rem, 2vw, 1.875rem);
    line-height: clamp(1.875rem, 1vw, 2.75rem);
    
    color: #FFFFFF;
    order: 0;
}

.profileButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: clamp(2.5rem, 5vw, 3.75rem); 
    height: clamp(2.5rem, 5vw, 3.75rem);
    padding: 0.6875rem clamp(0.3125rem, 2vw, 1.875rem);
    gap: 0.625rem; 
    background: #FAF1F1;
    box-shadow: 
        0rem 2.375rem 0.9375rem rgba(0, 0, 0, 0.01), 
        0rem 1.375rem 0.8125rem rgba(0, 0, 0, 0.05), 
        0rem 0.625rem 0.625rem rgba(0, 0, 0, 0.09), 
        0rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
    border-radius: 1.25rem;
    order: 1;
}

.profileImage {
    width: clamp(2.5rem, 5vw, 3.75rem); 
    height: clamp(2.5rem, 5vw, 3.75rem); 
    border-radius: 1.25rem; 
    object-fit: cover; 
}