*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px clamp(30px, 5vw, 100px);
    gap: 10px;
    width: clamp(300px, 100%, 1920px);
    height: clamp(40px, 100%, 80px);
    margin: 0 auto;
    background: #FAF1F1;
    border-bottom: 1px solid #BBB4B4;
}
.mainPageButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px clamp(5px, 2vw, 30px);
    column-gap: clamp(2px, 2vw, 10px);
    width: clamp(60px, 21%, 380px);
    height: clamp(9px, 100%, 60px);
    background: #2382FF;
    box-shadow: 0px 38px 15px rgba(0, 0, 0, 0.01), 0px 22px 13px rgba(0, 0, 0, 0.05), 0px 10px 10px rgba(0, 0, 0, 0.09), 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    order: 0;
}
.mainButtonText{
    width: 166px;
    height: clamp(22px, 100%, 44px);
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(14px, 2vw, 30px);
    line-height: clamp(30px, 1vw, 44px);
    color: #FFFFFF;
}
.allpostsPageButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px clamp(5px, 2vw, 30px);
    column-gap: clamp(2px, 2vw, 10px);
    row-gap: 10px;
    width: clamp(60px, 21%, 380px);
    height: clamp(9px, 100%, 60px);
    background: #2382FF;
    box-shadow: 0px 38px 15px rgba(0, 0, 0, 0.01), 0px 22px 13px rgba(0, 0, 0, 0.05), 0px 10px 10px rgba(0, 0, 0, 0.09), 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    order: 1;
}
.allpostsButtonText{
    width: 168px;
    height: clamp(22px, 100%, 44px);
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(14px, 2vw, 30px);
    line-height: clamp(30px, 1vw, 44px);
    color: #FFFFFF;
    order: 0;
}
.createpostButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px clamp(5px, 2vw, 30px);
    gap: 10px;
    width: clamp(60px, 21%, 380px);
    height: clamp(9px, 100%, 60px);
    background: #2382FF;
    box-shadow: 0px 38px 15px rgba(0, 0, 0, 0.01), 0px 22px 13px rgba(0, 0, 0, 0.05), 0px 10px 10px rgba(0, 0, 0, 0.09), 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    order: 2;
}
.createpostButtonText{
    width: 252px;
    height: clamp(22px, 100%, 44px);
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(14px, 2vw, 30px);
    line-height: clamp(30px, 1vw, 44px);
    color: #FFFFFF;
    order: 0;
}
.profileAndLanguageButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: clamp(28px, 50%, 180px);
    height: clamp(9px, 100%, 60px);
    padding: 0px;
    gap: 20px;
    order: 3;
}
.languageButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px clamp(5px, 2vw, 30px);
    gap: 10px;
    width: clamp(28px, 65%, 180px);
    height: clamp(9px, 100%, 60px);
    background: #2382FF;
    box-shadow: 0px 38px 15px rgba(0, 0, 0, 0.01), 0px 22px 13px rgba(0, 0, 0, 0.05), 0px 10px 10px rgba(0, 0, 0, 0.09), 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    order: 0;
}
.languageButtonText{
    width: 96px;
    height: clamp(22px, 100%, 44px);
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(14px, 2vw, 30px);
    line-height: clamp(30px, 1vw, 44px);
    color: #FFFFFF;
    order: 0;
}
.profileButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px clamp(5px, 2vw, 30px);
    gap: 10px;
    width: 60px;
    height: 60px;
    background: #FAF1F1;
    box-shadow: 0px 38px 15px rgba(0, 0, 0, 0.01), 0px 22px 13px rgba(0, 0, 0, 0.05), 0px 10px 10px rgba(0, 0, 0, 0.09), 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    order: 1;
}
.profileImage{
    width: 60px;
    height: 60px;
    border-radius: 20px;
}