*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    order: 0;
    min-height: 3rem;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(18.75rem, 100%, 120rem);
    min-height: 67.5rem;
    padding: 0.9375rem 0.625rem 1.25rem;
    margin: 0 auto;
    background: #FAF1F1;
    order: 1;
}

.technicalPartTexts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.9375rem 0.625rem 1.25rem;
    width: clamp(18.75rem, 100%, 120rem);
    min-height: 47.5rem;
    background: #FAF1F1;
    order: 0;
}

.backendTextsDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.9375rem 0.625rem 1.25rem;
    width: clamp(18.75rem, 100%, 120rem);
    min-height: 23.75rem;
    background: #FAF1F1;
    order: 0;
}
.backendText{
    width: clamp(18.75rem, 100%, 112.5rem);
    height: clamp(2.5rem, auto, 8.125rem);
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(1.125rem, 2vw, 2.1875rem);
    line-height: clamp(1.875rem, 1vw + 1rem, 2.75rem);
    color: #000000;
    order: 0;
}
.backendTextMain{
    width: clamp(18.75rem, 100%, 112.5rem);
    height: clamp(5.625rem, auto, 14.375rem); 
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(0.625rem, 2vw, 1.25rem);
    line-height: clamp(1.1875rem, 1vw + 0.5rem, 1.5625rem); 
    color: #000000;
    order: 1;
}

.frontendTextsDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.9375rem 0.625rem 1.25rem;
    gap: 2.1875rem;
    min-height: 23.75rem; 
    background: #FAF1F1;
    order: 1;
}
.frontendText{
}

.descriptionPartText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.9375rem 0.625rem 1.25rem;
    gap: 2.1875rem; 
    width: clamp(18.75rem, 100%, 120rem);
    min-height: 10rem;
    background: #FAF1F1;
    order: 1;
}
.descriptionText{
    width: clamp(18.75rem, 100%, 120rem);
    height: auto; 
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(1.5rem, 2.5vw, 2rem); 
    line-height: clamp(2rem, 1vw + 1rem, 2.5rem); 
    color: #000000;
    order: 0;
}