*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header{
    order: 0;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(300px, 100%, 1920px);
    height: 1080px;
    padding: 15px 10px 20px;
    margin: 0 auto;
    background: #FAF1F1;
    order: 1;
}
.technicalPartTexts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 10px 20px;
    width: clamp(300px, 100%, 1920px);
    height: 760px;
    background: #FAF1F1;
    order: 0;
}
.backendTextsDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 10px 20px;
    width: clamp(300px, 100%, 1920px);
    height: 380px;
    background: #FAF1F1;
    order: 0;
}
.backendText{
    width: clamp(300px, 100%, 1800px);
    height: clamp(40px, 100%, 130px);
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(18px, 2vw, 35px);
    line-height: clamp(30px, 1vw, 44px);
    color: #000000;
    order: 0;
}
.backendTextMain{
    width: clamp(300px, 100%, 1800px);
    height: clamp(90px, 100%, 230px);
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(10px, 2vw, 20px);
    line-height: clamp(19px, 1vw, 25px);
    color: #000000;
    order: 1;
}
.frontendTextsDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 10px 20px;
    gap: 35px;
    width: clamp(300px, 100%, 1920px);
    height: 380px;
    background: #FAF1F1;
    order: 1;
}
.frontendText{
    
}
.descriptionPartText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 10px 20px;
    gap: 35px;
    width: clamp(300px, 100%, 1920px);
    height: 160px;
    background: #FAF1F1;
    order: 1;
}
.descriptionText{
    width: clamp(300px, 100%, 1920px);
    height: 140px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
    order: 0;
}