
.sfContainer{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.6875rem clamp(0.625rem, 2vw, 1.875rem);
    gap: 0.625rem;
    width: 100%;
    height: auto;
    order: 0;
}

.searchField{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.6875rem clamp(0.625rem, 2vw, 1.875rem);
    gap: 0.625rem;
    width: 100%;
    height: 3.75rem;
    background: #FAF1F1;
    border: 0.0625rem solid #000000;
    box-shadow: 
        0rem 2.375rem 0.9375rem rgba(0, 0, 0, 0.01), 
        0rem 1.375rem 0.8125rem rgba(0, 0, 0, 0.05), 
        0rem 0.625rem 0.625rem rgba(0, 0, 0, 0.09), 
        0rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
    border-radius: 1.25rem;
    order: 0;
}

Input{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 0.625rem;
    width: 100%;
    height: 2.375rem;
    background: #FAF1F1;
    border: none;
    font-size: clamp(1rem, 2vw, 1.5rem);
    line-height: clamp(1.5rem, 1vw + 0.5rem, 2.25rem);
    color: #000000;
    outline: none;
    order: 0;
}
