.postsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    gap: 3rem;
    width: 100%;
    background: #FAF1F1;
    min-height: 100vh;
    flex-grow: 1;
    overflow-y: auto;
    max-height: 67.5rem;
}