.posts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    gap: 1.875rem;
    width: auto;
    height: 100%;
    order: 1;
    background: #FAF1F1;
    flex-grow: 1;
    overflow-y: auto;
    max-height: 67.5rem;
}