.posts {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    width: 100%;
    height: auto;
    min-height: 31.25rem;
    order: 2;
    background: #FAF1F1;
}