*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.postPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1080px;
}