.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    gap: clamp(1rem, 2vw, 2.1875rem); 
    width: 100%;
    min-width: 18.75rem;
    max-width: 120rem;
    height: 5rem; 
    margin: 0 auto;
    background: #FAF1F1;
    order: 2;
}

.footerAuthorDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 2.1875rem; 
    margin: 0 auto;
    width: clamp(9.375rem, 45%, 60rem);
    height: 5rem;
    background: #FAF1F1;
    order: 0;
}

.footerAuthor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.6875rem clamp(0.3125rem, 2vw, 1.875rem);
    gap: 0.625rem;
    width: clamp(5.625rem, 80%, 34.375rem); 
    height: 3.75rem;
    background: #FAF1F1;
    border-radius: 1.25rem;
    order: 0;
}
.footerAuthorText{
    width: 100%;
    height: auto; 
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(0.875rem, 2vw, 1.875rem);
    line-height: clamp(1.875rem, 1vw + 1rem, 2.75rem); 
    color: #2382FF;
    order: 0;
}

.footerSocialNetworksDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    width: clamp(9.375rem, 50%, 46.875rem);
    height: 5rem;
    background: #FAF1F1;
    order: 1;
}

.footerSocialNetworksTextDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: clamp(0.125rem, 2vw, 0.625rem);
    padding-left: clamp(0.3125rem, 2vw, 1.875rem);
    width: clamp(7.5rem, 70%, 34.375rem);
    height: 3.75rem;
    background: #FAF1F1;
    border-radius: 1.25rem;
    order: 0;
}
.footerSocialNetworksText{
    width: 100%;
    height: auto; 
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(0.625rem, 2vw, 1.875rem);
    line-height: clamp(1.875rem, 1vw + 1rem, 2.75rem);
    color: #2382FF;
    order: 0;
}

.footerSocialNetworksIconsDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.6875rem clamp(0.3125rem, 2vw, 1.875rem);
    gap: clamp(1rem, 2vw, 2.5rem);
    width: clamp(4.6875rem, 30%, 30rem);
    height: clamp(2.1875rem, 100%, 3.75rem);
    background: #FAF1F1;
    border-radius: 1.25rem;
    order: 1;
}

.footerTelegramIconDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.6875rem clamp(0.3125rem, 2vw, 1.875rem);
    gap: 0.625rem;
    width: clamp(2.1875rem, 100%, 3.75rem);
    height: clamp(2.1875rem, 100%, 3.75rem);
    background: #FAF1F1;
}
.footerInstagramIconDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.6875rem clamp(0.3125rem, 2vw, 1.875rem);
    gap: 0.625rem;
    width: clamp(2.1875rem, 100%, 3.75rem);
    height: clamp(2.1875rem, 100%, 3.75rem);
    background: #FAF1F1;
}
.footerTiktokIconDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.6875rem clamp(0.3125rem, 2vw, 1.875rem);
    gap: 0.625rem;
    width: clamp(2.1875rem, 100%, 3.75rem);
    height: clamp(2.1875rem, 100%, 3.75rem);
    background: #FAF1F1;
}

.telegramIcon {
    border-radius: 1.25rem;
    width: clamp(2.1875rem,10vw, 3.75rem);
    height: clamp(2.1875rem, 10vw, 3.75rem);
    object-fit: contain;
}
.instagramIcon {
    border-radius: 1.25rem;
    width: clamp(2.1875rem, 5vw, 3.75rem);
    height: clamp(2.1875rem, 5vw, 3.75rem);
    object-fit: contain;
}
.tiktokIcon {
    border-radius: 1.25rem;
    width: clamp(2.1875rem, 5vw, 3.75rem);
    height: clamp(2.1875rem, 5vw, 3.75rem);
    object-fit: contain;
}