.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 35px;
    width: clamp(300px, 100%, 1920px);
    height: 80px;
    margin: 0 auto;
    background: #FAF1F1;
    order: 2;
}
.footerAuthorDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 35px;
    margin: 0 auto;
    width: clamp(150px, 100%, 960px);
    height: 80px;
    background: #FAF1F1;
    order: 0;
}
.footerAuthor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px clamp(5px, 2vw, 30px);
    gap: 10px;
    width: clamp(90px, 100%, 550px);
    height: 60px;
    background: #FAF1F1;
    border-radius: 20px;
    order: 0;
}
.footerAuthorText{
    width: clamp(80px, 100%, 526px);
    height: 44px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(14px, 2vw, 30px);
    line-height: clamp(30px, 1vw, 44px);
    color: #2382FF;
    order: 0;
}
.footerSocialNetworksDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0 auto;
    width: clamp(150px, 100%, 750px);
    height: 80px;
    background: #FAF1F1;
    order: 1;
}
.footerSocialNetworksTextDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: clamp(2px, 2vw, 10px);
    padding-top: clamp(5px, 2vw, 30px);
    padding-left: clamp(5px, 2vw, 30px);
    width: clamp(120px, 100%, 550px);
    height: 60px;
    background: #FAF1F1;
    border-radius: 20px;
    order: 0;
}
.footerSocialNetworksText{
    width: clamp(120px, 100%, 550px);
    height: 60px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(10px, 2vw, 30px);
    line-height: clamp(30px, 1vw, 44px);
    color: #2382FF;
    order: 0;
}
.footerSocialNetworksIconsDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px clamp(5px, 2vw, 30px);
    gap: 40px;
    width: clamp(75px, 100%, 480px);
    height: clamp(35px, 100%, 60px);
    background: #FAF1F1;
    border-radius: 20px;
    order: 1;
}
.footerTelegramIconDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px clamp(5px, 2vw, 30px);
    gap: 10px;
    width: clamp(35px, 100%, 60px);
    height: clamp(35px, 100%, 60px);
    background: #FAF1F1;
    border-radius: 20px;
    order: 0;
}
.telegramIcon{
    border-radius: 20px;
    width: clamp(35px, 100%, 60px);
    height: clamp(35px, 100%, 60px);
    object-fit: cover;
}
.footerInstagramIconDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px clamp(5px, 2vw, 30px);
    gap: 10px;
    width: clamp(35px, 100%, 60px);
    height: clamp(35px, 100%, 60px);
    background: #FAF1F1;
    border-radius: 20px;
    order: 1;
}
.instagramIcon{
    border-radius: 20px;
    width: clamp(35px, 100%, 60px);
    height: clamp(35px, 100%, 60px);
    object-fit: cover;
}
.footerTiktokIconDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px clamp(5px, 2vw, 30px);
    gap: 10px;
    width: clamp(35px, 100%, 60px);
    height: clamp(35px, 100%, 60px);
    background: #FAF1F1;
    border-radius: 20px;
    order: 2;
}
.tiktokIcon{
    border-radius: 20px;
    width: clamp(35px, 100%, 60px);
    height: clamp(35px, 100%, 60px);
    object-fit: cover;
}