*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.postCard{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 90%;
    max-width: 62.5rem;
    min-width: 18.75rem;
    height: auto; 
    background: #FAF1F1;
    border-radius: 1.5625rem;
    order: 0;
    margin: 0 auto;
}

.postHeader{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    min-height: 6.25rem;
    background: #FAF1F1;
    border: 0.0625rem solid #000000;
    border-radius: 1.5625rem 1.5625rem 0 0;
    order: 0;
    align-self: stretch;
    border-bottom: none;
}
.postHeaderText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: clamp(10rem, 50%, 16.875rem);
    height: auto;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(1.5rem, 3vw, 2.1875rem);
    line-height: clamp(1.875rem, 1vw + 1rem, 2.75rem); 
    color: #000000;
    order: 0;
    padding: 0.5rem;
}

.postMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    height: auto;
    background: #FAF1F1;
    order: 1;
}
.postImageDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    height: clamp(15rem, 40vw, 31.25rem);
    border-left: 0.0625rem solid #000000;
    border-right: 0.0625rem solid #000000;
    background: #FAF1F1;
    order: 0;
}
.postImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    order: 0;
}

.postDescriptionDiv{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    min-height: 12.5rem; 
    background: #FAF1F1;
    border-left: 0.0625rem solid #000000;
    border-right: 0.0625rem solid #000000;
    border-bottom: 0.0625rem solid #000000;
    order: 1;
}
.postDescription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: clamp(1rem, 2vw, 2.1875rem);
    line-height: clamp(1.875rem, 1vw + 1rem, 2.75rem);
    color: #000000;
    padding: 0.5rem 1rem;
    order: 0;
    align-self: stretch;
}

.postFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100%;
    min-height: 6.375rem;
    background: #FAF1F1;
    border-radius: 0 0 1.5625rem 1.5625rem;
    border-left: 0.0625rem solid #000000;
    border-right: 0.0625rem solid #000000;
    border-bottom: 0.0625rem solid #000000;
    order: 2;
    align-self: stretch;
}
.postFooterLikes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 0.625rem;
    width: 20%;
    height: 100%;
    background: #FAF1F1;
    border-radius: 0 0 0 1.5625rem;
    order: 0;
    flex-grow: 0;
}
.postLikesImg{
    width: clamp(1rem, 2vw, 1.5625rem); 
    height: clamp(1rem, 2vw, 1.5625rem);
    order: 0;
}
.postLikes {
    font-size: clamp(0.875rem, 1.5vw, 1.5rem);
    line-height: clamp(1.2rem, 1.5vw, 1.875rem);
    width: auto;
    height: auto;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    flex-grow: 0;
}
.postLikesText {
    font-size: clamp(0.875rem, 1.5vw, 1.5rem);
    line-height: clamp(1.2rem, 1.5vw, 1.875rem);
    width: auto;
    height: auto;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    flex-grow: 0;
}

.postFooterTags{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 0.625rem;
    gap: 0.9375rem;
    width: 80%;
    height: 100%; 
    background: #FAF1F1;
    border-radius: 0 0 1.5625rem 0;
    order: 1;
    flex-grow: 1;
}
.postTags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    padding: 0;
    gap: 0.9375rem;
    width: clamp(5rem, 10vw, 7.5rem);
    height: 100%;
    background: #FAF1F1;
    order: 0;
    flex-grow: 0;
}
.postTagsText{
    font-size: clamp(1rem, 2vw, 2.25rem);
    line-height: clamp(1.5rem, 2vw, 2.8125rem); 
    width: auto;
    height: auto;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    flex-grow: 0;
}
.postTagsList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    padding: 0;
    gap: 0.9375rem;
    width: auto;
    height: 100%; 
    background: #FAF1F1;
    border-radius: 0 0 1.5625rem 0;
    order: 1;
    flex-grow: 1;
}
.postTagItem{}
.postTagText{}