*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.postCard{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 1000px;
    height: 900px;
    background: #FAF1F1;
    border-radius: 25px;
    order: 0;
}
.postHeader{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 1000px;
    height: 100px;
    background: #FAF1F1;
    border: 1px solid #000000;
    border-radius: 25px 25px 0px 0px;
    order: 0;
    align-self: stretch;
}
.postHeaderText{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 270px;
    height: 44px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 44px;
    color: #000000;
    order: 0;
}
.postMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 1000px;
    height: 700px;
    background: #FAF1F1;
    border-radius: 0px;
    order: 1;
}
.postImageDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 1000px;
    height: 500px;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    background: #FAF1F1;
    order: 0;
}
.postImage{
    width: 1000px;
    height: 500px;
    flex: none;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    order: 0;
    flex-grow: 0;
}
.postDescriptionDiv{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 1000px;
    height: 200px;
    background: #FAF1F1;
    border: 1px solid #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.postDescription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1000px;
    height: 200px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 44px;
    color: #000000;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.postFooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 1000px;
    height: 102px;
    background: #FAF1F1;
    border-radius: 0px 0px 25px 25px;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}
.postFooterLikes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 198px;
    height: 100px;
    background: #FAF1F1;
    border-radius: 0px 0px 0px 25px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.postLikesImg{
    width: 25px;
    height: 25px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.postLikes{
    width: 24px;
    height: 30px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.postLikesText{
    width: 59px;
    height: 30px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    flex: none;
    order: 2;
    flex-grow: 0;
}
.postFooterTags{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 15px;
    width: 800px;
    height: 100px;
    background: #FAF1F1;
    border-radius: 0px 0px 25px 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.postTags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0px;
    gap: 15px;
    width: 120px;
    height: 100px;
    background: #FAF1F1;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.postTagsText{
    width: 92px;
    height: 45px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.postTagsList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0px;
    gap: 15px;
    width: 650px;
    height: 100px;
    background: #FAF1F1;
    border-radius: 0px 0px 25px 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.postTagItem{}
.postTagText{}